<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.cjc.mydives.divetracker"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="10" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:debuggable="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">
        <!-- MAPS -->
    	<uses-library android:name="com.google.android.maps" />

        <activity
            android:name=".DiveTrackerActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- User activities -->
        <activity android:name="UserDetailsActivity">
        </activity>
        <activity android:name="UserEditActivity">
        </activity>
        <!-- Certification activities -->
        <activity android:name="CertificationListActivity">
        </activity>
        <activity android:name="CertificationDetailsActivity">
        </activity>
        <!-- Equipment activities -->
        <activity android:name="EquipmentListActivity">
        </activity>

        <!-- Dive activities -->
        <activity
            android:name=".DiveListActivity"
            android:label="@string/dive_list_activity">
        </activity>
        <activity 
            android:name=".DiveDetailsActivity"
            android:label="@string/dive_details_activity">
        </activity>
        <activity 
            android:name=".DiveEditActivity"
            android:label="@string/dive_edit_activity">
        </activity>
        </application>

</manifest>